/*body {
    margin-top: 50px;*/
/*    align-items: center;
    align-content: center;*/
/*}*/

.container {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /*display: block;*/
    height: 100%;
}

table {
    /*padding-top: 50px;*/
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    /*align-items: center;*/
    /*background-color: red;*/
}

tr {
    height: 100px;
}

td {
    border: 1px solid #a9a6a6;
    text-align: left;
}

.title {
    /*padding: 10px;*/
    padding: 10px 0px 0px 10px;
    font-size: 20px;
    text-align: center;
}

.countFindRows {
    padding: 0px 0px 10px 10px;
    font-size: 20px;
    text-align: left;
}
.tbRow {
    padding: 8px;
}

span {
    /*    overflow-wrap: break-word;
    white-space: normal;*/
    display: block;
}

a.loadMoreButton {
    /*margin: 15px;*/
    
   /* padding: 1px 6px;*/
    border: 1px outset;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

.buttonWrapper {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}