body {
    
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 30px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.titleWrapper {
    height: 30px;
    text-align: center;
    width: 100%;
}

    .titleWrapper p {
        font-size: 18px;
    }

.countFindRowsWrapper {
    height: 30px;
    align-items: start;
    padding: 0 10px 20px 10px;
    width: 100%;
}

    .countFindRowsWrapper p {
        font-size: 18px;
        text-align: left;
    }


.table {
    width: 96%;
    height: auto;
    border-collapse: collapse;
    align-items: center;
}

.tbRow {
    border: 1px solid #a9a6a6;
    text-align: left;
    width: 100%;
    padding: 10px;
}

span {
    display: block;
}

.buttonWrapper {
    margin-top: 3%;
    height: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
}

a.loadMoreButton {
    border: 1px outset;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    /*    background-color: darkgreen;*/
}

